<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>User list</title>

    <link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/index">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"></input>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/users">User list <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" href="/users/create">Create</a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <!--<h1>Dashboard</h1> -->
            <h1>Welcome <span sec:authentication="name">Bob</span> !</h1>
            <h5>Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></h5>

            <h2>Search by role</h2>

            <form class="form-inline mt-2 mt-md-0" action="/users/role" th:action="@{'/users'}" method="get">
                <input class="form-control mr-sm-2" type="text" th:value="${role}" id="role" name="role"
                       placeholder="Role"></input>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search by role</button>
            </form>

            <h2>User list</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Date of birth</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="userDTO : ${userDTOList}">
                        <td th:text="${userDTO.id}">ID</td>
                        <td th:text="${userDTO.firstName}">First name</td>
                        <td th:text="${userDTO.lastName}">Last name</td>
                        <td th:text="${userDTO.username}">Username</td>
                        <td th:text="${userDTO.email}">Email</td>
                        <td th:text="${userDTO.dateOfBirth}">Date of birth</td>
                        <td th:text="${userDTO.phone}">Phone</td>
                        <td th:text="${userDTO.address}">Address</td>
                        <td>
                            <div class="btn-group btn-group-sm" sec:authorize="hasAuthority('ADMIN')">
                                <form th:action="@{'/users/edit/'+${userDTO.id}}" method="get">
                                    <button class="btn-sm btn-success" type="submit">Edit</button>
                                </form>
                                <form th:action="@{'/users/delete/'+${userDTO.id}}" method="get">
                                    <button class="btn-sm btn-danger" type="submit">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>


</html>