<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>User create</title>

    <link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="dashboard.css" th:href="@{/css/dashboard.css}" rel="stylesheet"/>
</head>

<body>
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Dashboard</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users">Users <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search"></input>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/users">User list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/users/create">Create<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>

        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <!--<h1>Dashboard</h1> -->
            <h1>Welcome <span sec:authentication="name">Bob</span> !</h1>
            <h5>Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></h5>

            <h2>Search by role</h2>

            <form class="form-inline mt-2 mt-md-0" action="/users/role" th:action="@{'/users'}" method="get">
                <input class="form-control mr-sm-2" type="text" th:value="${role}" id="role" name="role"
                       placeholder="Role"></input>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search by role</button>
            </form>

            <h2>Create user</h2>
            <form class="form-horizontal" action="/users/create" th:action="@{/users/create}" th:object="${userDTO}"
                  method="post">

                <div class="form-group">
                    <label class="control-label col-sm-2" for="firstName">First name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" th:field="*{firstName}" id="firstName"
                               name="First name"></input>
                    </div>
                    <label class="control-label col-sm-2" th:if="${#fields.hasErrors('firstName')}"
                           th:errors="*{firstName}">Title error message</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="lastName">Last name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" th:field="*{lastName}" id="lastName"
                               name="Last name"></input>
                    </div>
                    <label class="control-label col-sm-2" th:if="${#fields.hasErrors('lastName')}"
                           th:errors="*{lastName}">Title error message</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="username">Username</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" th:field="*{username}" id="username"
                               name="username"></input>
                    </div>
                    <label class="control-label col-sm-2" th:if="${#fields.hasErrors('username')}"
                           th:errors="*{username}">Title error message</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="password">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="password" th:field="*{password}" id="password"
                               name="Password"></input>
                    </div>
                    <label class="control-label col-sm-2" th:if="${#fields.hasErrors('password')}"
                           th:errors="*{password}">Title error message</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="email" th:field="*{email}" id="email" name="Email"></input>
                    </div>
                    <label class="control-label col-sm-2" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Title
                        error message</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="dateOfBirth">Date of birth</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" th:field="*{dateOfBirth}" id="dateOfBirth"
                               name="Date of birth"></input>
                    </div>
                    <label class="control-label col-sm-2" th:if="${#fields.hasErrors('dateOfBirth')}"
                           th:errors="*{dateOfBirth}">Title error message</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="phone">Phone</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" th:field="*{phone}" id="phone" name="Phone"></input>
                    </div>
                    <label class="control-label col-sm-2" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Title
                        error message</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="address">Address</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" th:field="*{address}" id="address"
                               name="Address"></input>
                    </div>
                    <label class="control-label col-sm-2" th:if="${#fields.hasErrors('address')}"
                           th:errors="*{address}">Title error message</label>
                </div>

                <button class="btn btn-success" type="submit">Create user</button>
                <button class="btn btn-default" type="reset">Clear</button>
            </form>
        </main>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>